<div class="row">
  <h2>First Name</h2>
  <input class="form-control" type="text" name="fname" value="" ng-model="user.fname">
  <h2>Last Name</h2>
  <input class="form-control" type="text" name="lname" value="" ng-model="user.lname">
  <h2>Favorite Language</h2>
  <input class="form-control" type="text" name="language" value="" ng-model="user.language">
  <br>
  <button class="btn btn-primary" type="button" name="button" ng-click="addUser()">Create User</button>
</div>

<hr>

<div class="row">
  <input type="text" ng-model="filterUser" placeholder="filter..."><br><br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Favorite Language</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users | filter:filterUser track by $index">
        <td>{{user.fname}}</td>
        <td>{{user.lname}}</td>
        <td>{{user.language}}</td>
        <td><button type="button" name="button" ng-click="removeUser(user)">Delete User</button></td>
      </tr>
    </tbody>
  </table>
</div>
