<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Epic Button Game</title>
  </head>
  <body>

    <h1>Epic Button Game</h1>

    <p class="js-count"></p>
    <p>Push the button to update the count!</p>
    <button class="js-epic-button" type="button" name="button">Push the epic button</button>
    <button class="js-reset-button" type="button" name="button">Reset count</button>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
    <script src="js/script.js"></script>

  </body>
</html>
