<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quoting Dojo Redux</title>
  </head>
  <body>
    <h1>Welcome to Quoting Dojo</h1>

    <form class="" action="/quotes" method="post">

      <label for="">Your name: </label>
      <input type="text" name="name" value="">

      <label for="">Your quote: </label>
      <textarea name="quote" rows="8" cols="40"></textarea>

      <input type="submit" value="Add my quotes!">
      <a href="/quotes">Skip to quotes!</a>

    </form>

  </body>
</html>
