.container{
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.info{
  border: 1px solid black;
  display: inline-block;
  padding: 10px 20px;
}

.time{
  border: 1px solid black;
  padding: 10px 20px;

}
